@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  @font-face{
      font-family: one;
      src: url("../fonts/CrimsonText-Bold.ttf");
  }

  @font-face{
    font-family: two;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face{
    font-family: three;
    src: url("../fonts/CrimsonText-Regular.ttf");
}

@font-face{
    font-family: four;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body{
    padding: 0px 0px;
}

.btn{
    box-shadow: none !important;
}

.text-green{
    color: #4ece8f !important;
}

.midi-text{
    font-family: one;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/*navbar section*/

#navbar{
    padding: 0px 0px;
}

.brand-logo{
    font-size: 1.5rem !important;
    line-height: 1.6rem;
}

.nav-wrapper{
    padding: 5px 100px;
    background-color: #4ece8f !important;
}

.home-login-button{
    border: 2px solid #fff;
    border-radius: 4px;
}

.nav-wrapper li a{
    font-family: three;
    color: rgba(255, 255, 255);
    font-size-adjust: .8rem;
    font-size: 400;
}

.logo-text{
    font-family: one;
    text-align: justify;
    margin-left: 110px;
}

a{
    -webkit-tap-highlight-color: none !important;
}

.nav-wrapper li a:active{
    text-decoration: underline;
}


.sidenav{
    background-color: #4ec38f;
}

.sidenav li>a{
    color: #fff;
}

/*first section*/
#first{
    padding-bottom: 70px !important;
}


.first-div-1{
    margin-top: 80px !important;
}

.first-div-2{
   margin-top: 120px !important;
}

.home-header{
    font-family: one;
    font-size: 3rem;
}

.home-sub-header{
    font-family: four;
    font-size: .8rem;
}

.button-orange{
    background-color: #fca35f;
    border-radius: 4px;
    font-family: three;
}

/*second section*/

.second-1{
    background-color: #fff;
    padding: 10px;
    width: 430px;
    position: absolute;
}

.second-div-1{
    background-color: #fff;
    margin-left: 150px !important;
    position: absolute;
    border-radius: 10px;
    height: 285px;
    margin-bottom: 0px !important;
    width: 450px;
   
}


.second-div-2{
    background-color: #4ece8f;
    height: 370px;
    width: 800px !important;
    margin-left: 547px !important;
    margin-top: 70px !important;
    border-radius: 10px;
    padding: 20px 100px !important;
}

form.home-form{
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 10px;
    height: 280px;
    margin-bottom: 0px !important;
    border: 3px solid orange;
    width: 350px;
    padding: 20px;
    margin-left: 95px !important;
    top: 0px !important;
}

.ill-image{
    height: 150px;
    width: 150px;
    opacity: .3;
    position: absolute;
    margin-left: 40px !important;
    top: 5px !important;
}

.home-login{
    font-family: one;
    font-size: 1.5rem;  
}

.home-signup{
    font-family: three;
    font-weight: 200;
    margin-left: 10px;
}

.home-login-button-2{
    width: 90%;
    margin: 10px;
}

.mini-text-home-2{
    font-size: .7rem;
    font-weight: lighter;
    text-decoration: underline;
}

#emailAddress::placeholder, #password::placeholder{
    color: #fca35f;
    font-size: 1rem;
    font-family: three;
}

#emailAddress, #password{
    border: 1px solid #fca35f;
    border-left: none;
    border-right: none;
    border-top: none;
}

.second-header{
    font-family: one;
}

.second-sub-header{
    font-family: three;
    font-weight: lighter;
    font-size: .9rem;
    color: rgba(253, 253, 253, 0.836)
}


/*about section*/

#about{
    padding: 30px 0px;
}

.about-header{
    font-family: one;
}

.about-icon{
    height: 35px;
    width: 35px;
    margin-left: 20px ;
}

.about-sub-header{
    font-family: one;
    font-size: 1.2rem;
    padding: 0px 20px;
}

.about-text, .about-text-1{
    font-family: two;
    font-size: .7rem;
    padding: 5px 20px;
}

.about-text-1{
    color: rgb(105, 100, 100);
}

.white-about-icon{
    fill: #fff !important;
}

.green-about-icon{
    fill: #4ece8f !important;
}

.about-1, .about-2{
    height: 200px;
    width: 80%;
    border-radius: 10px;
}

.about-1{
    background-color: #fff;
}

.about-2{
    background-color: #4ece8f;
}


/*blog section*/

#blog{
    background-color: rgb(248, 249, 250);
    padding: 50px 0px;
}

.blog-header{
    font-family: one;
}
.blog-divs{
    height: 200px !important;
    width: 100%;
    background-color: rgb(223, 221, 221);
    padding: 5px !important;
    border-radius: 5px;
}

.blog-image{
    margin: 90px;
}

.blog-text{
    font-family: one;
    font-size: .9rem;
    padding: 10px 0px !important;
}

.activeb{
    text-decoration: underline;
    color: #4ece8f !important;
}

.blog-sub-text{
    font-size: .7rem;
}

.rad{
    padding: 20px 0px;
}

[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
    border: 1px solid #4ec38f;
}


/*third section*/

#third{
    padding: 0px 0px;
}

.third-header{
    font-family: one;
}

.third-text{
    font-family: two;
    font-size: .8rem;
}

.third-div{
    background-color: #fca35f;
    height: 190px;
    width: 100%;
    padding: 0px 170px;
}

.third-image{
    height: 100px;
    width: 100px;
    opacity: .4;
    
}

.footer-text1{
    font-family: one;
}

.footer-text2{
    font-size: .7rem;
    font-family: three;
}

.footer-text3{
    font-family: three;
    font-size: 1rem;
    color: rgb(122, 121, 121);
    padding: 0px 10px;
}

.footer-icon{
    padding: 10px 10px;
    color: #4ec38f;
    font-size:1rem ;
    text-align: right;
}


/*login page*/
.first-login-div{
    background-color: #fff;
}
.second-login-div{
    background-color: #4ece8f;
    height: 600px;
}

.login-image{
    height: 400px;
    width: 400px;
    margin-top: -115px;
    margin-left: 374px;
}

.login-header{
    text-align: justify;
    margin-left: 150px;
}

.login-text-3{
    margin-top: 140px;
    font-family: one;
}

.login-text-3,.login-text-4{
    margin-left: 135px;
}

.login-login{
    font-family: one;
    font-size: 2rem;
    margin-left: 150px;
}

.first-login-div input[type=text], .first-login-div input[type=password]{
    border: 1px solid #4ece8f !important;
    width: 40%;
    border-radius: 5px;
    margin-left: 150px;
}

.first-login-div ::placeholder{
    font-size: .9rem;
    padding: 0px 10px !important;
}

.login-button{
    width: 30%;
    background-color: #4ece8f;
    border-radius: 5px;
    margin-left: 150px;
}

.mini-text, .mini-text-2{
    font-size: .7rem;
    font-weight: lighter;
    
}

.login-text-4{
    font-family: two;
}

.login-checkbox{
    margin-left: 150px;
}

input[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after{
    height: .8rem;
    width: .8rem;
    top: 6px;
}

.login-signup{
    font-family: three;
    font-size: .9rem;
}

.mini-text-2{
    text-decoration: underline;
    margin-left: 150px;
}




/*dashoard page*/
#dashboard-body{
    background-color: rgb(248, 249, 250);
}

.dash{
    background-color:  #fff !important;
}

#head{
    background-color: #fff;
    box-shadow: grey 10px;
    top: 100px !important;
}


.sub-head{
    border: 1px solid rgb(209, 207, 207);
    border-top: none;
}


.dashboard-image-1{
    height: 40px;
    width: 40px;
    margin-top: 5px !important;
}

.dashboard-image-1,.dashboard-image-2{
    border: 4px solid #4ece8f;
}

.dashboard-image-2{
    height: 120px;
    width: 120px;
    margin-left: 40px !important;
}

.dashboard-name{
    font-family: one;
    font-size: .9rem;
}


.user-main ul>li>a{
    font-size: .8rem;
    font-family: two;
    line-height: 2.5rem;
}

.mini-text-dash{
    font-size: .8rem;
    font-family: two;
    padding: 0px 10px;
}

.actived{
    border-radius: 15px;
    background-color: rgba(197, 195, 195, 0.315);
    padding: 12px 115px 10px 5px;
}

.dashboard-mail{
    font-family: three;
    font-size: .8rem;
}

.first-sub-head{
    padding: 40px 10px 40px 10px !important;
   border-top: none !important;
}


.user-main{
    border: 1px solid rgb(209, 207, 207);
    border-radius: 10px;
    background-color: #fff;
}

.second-sub-head-1{
    background-color: #4ece8f;
    padding: 2px 10px;
    margin-top: 20px;
    border-radius: 8px;
}

.push{
    height: 100%;
    width: 100%;
    background: url("../img/Illustration_2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-left: 8px !important;
    margin-top: -15px !important;
}

.text-area{
    background-color: #fff;
    border: 1px solid rgb(209, 207, 207);
    border-radius: 10px;
    padding: 10px;
}

.second-text-area{
    border: 1px solid rgb(209, 207, 207);
    border-radius: 10px;
    height: 120px;
    background-color: #4ece8f;
}


.first-receiver-info{
    float: right; 
    width: 45%;
    padding:  0px 8px;
}

.second-receiver-info{
    float: left; 
    width: 45%;
    padding:  0px 8px;
}

.dashboard-tab{
    font-family: one;
}

.btn{
    text-transform: capitalize;
}

.second-text-area input[type=text] {
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.first-receiver-info>::placeholder, .second-receiver-info>::placeholder{
    color: #fff;
    font-size: .8rem;
}

.footer-container{
    background-color: #fff;
    padding: 20px 0px;
    font-size: .8rem;
    border: 1px rgb(107, 107, 107);
    border-radius: 2px;
    height: 50px;
    border-bottom: none !important;
}

.text-format>i.material-icons{
    font-size: 2rem;
}

textarea{
    height: 150px;
    width: 100%;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 1px !important;
    border-top: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-bottom: 0px !important;
    color: rgb(189, 187, 187);
    font-size: .9rem;
    font-family: two;
    margin-top: -1px;
    padding: 10px 0px;

}
.sansserif-button,.size-button,.align-button,.auto-button{
    background-color: transparent;
    font-size: .9rem;
    color: rgb(107, 107, 107) !important;
    padding: 0px 10px;
   
}

.sansserif-button,.size-button,.align-button{
    margin-bottom: 10px;
}

.sansserif-button:hover,.size-button:hover,.align-button:hover,.auto-button:hover{
    background: transparent !important;
}
.format-icon{
    font-size: .8rem;
    color: rgb(107, 107, 107);
}

.auto-button{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 1.3rem !important;
    margin-bottom: 20px !important;
}


.text-format{
    padding: 5px 19px;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 10px;
    border-top: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-bottom: 10px !important;
    margin-top: -10px;
}

.text-format>span.material-icons{
    font-size: 1.2rem !important;
    color: rgb(107, 107, 107);
    padding: 0px 5px;
}

/*sent page*/
.input-field{
 border: 2px solid rgb(189, 187, 187);
 border-radius: 10px;
 padding: 0px 4px !important;
}

.icon-search{
    color: rgb(146, 145, 145) !important;
    font-size: 1.6rem !important;
    font-weight: lighter;
}

.input-field input[type=text]{
    border: none;
}

td, th{
    font-size: .7rem;
    color: rgb(146, 145, 145);
}
thead{
    background-color: rgba(190, 189, 189, 0.219);
    border: none;
   
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 1px solid #727272;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}

.sent-area-table-background{
    background-color: #fff;
    padding: 0px 15px;
    border: 1px rgb(190, 190, 190) solid;
    border-radius: 10px;
    
}

.number-option{
    width: 7% !important;
    height: 40px;
    padding:  0px 0px !important;
    background-color: rgb(189, 187, 187);
    margin-left: 0px;
}


/*saved page*/

.saved-header-2,.saved-sub-header{
    font-family: one;
}

.saved-header{
    font-family: two;
}

.saved-sub-header{
    font-size:1.3rem;
}

.count{
    padding: 7px;
    background-color: rgb(224, 224, 224) !important;
    border-radius: 5px;
}

.show-button{
    padding: 0px 2px 60px 2px;
}

.green-dash-button{
    background-color: #4ec38f;
    border-radius: 5px;
    padding: 2px 40px;
    margin: 10px 2px;
}

.dash-save-button{
    background-color: transparent;
    border: 1px solid #4ec38f;
    border-radius: 5px;
    margin: 10px;
}

/*for small screens like iphnones*/

@media(max-width:768px){
    
    /*first section*/
#first{
    padding-bottom: 50px !important;
}

.first-div-image{
    width: 80%;
}

.first-div-1{
    margin-top: 50px !important;
}

.first-div-2{
   margin-top: 100px !important;
}

.home-header{
    font-size: 2rem;
}


/*second section*/

.second-small-1{
    background-color: #fff;
    padding: 10px;
    width: 300px;
  
}

.second-small-div-1 {
    background-color: #fff;
    border-radius: 10px;
    height: 305px;
    margin-bottom: 90px !important;
    margin-left:30px;
    width: 300px;
}


.second-small-div-2{
    background-color: #4ece8f;
    height: 370px;
    width: 305px;
    border-radius: 10px;
    padding: 30px 10px !important;
    margin-left: 30px;
}

form.small-home-form{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 330px;
    margin-bottom: 0px !important;
    border: 3px solid orange;
    width: 300px;
    padding: 10px;
    top: 0px !important;
}

.small-ill-image{
    height: 100px;
    width: 100px;
    opacity: .3;
    margin-top: -5px !important;
    margin-left: 35px;
}

.home-login{
    font-family: one;
    font-size: 1.5rem;  
}

.home-signup{
    font-family: three;
    font-weight: 200;
    margin-left: 10px;
}

.home-login-button-2{
    width: 90%;
    margin: 10px;
}


.second-header{
    font-size: 1.5rem;
}




/*third section*/


.third-header{
    font-size: 1.5rem;
}

.third-text{
    font-family: two;
    font-size: .8rem;
}

.third-div{
    background-color: #fca35f;
    height: 190px;
    width: 100%;
    padding: 0px 10px;
}

.third-image{
    height: 100px;
    width: 100px;
    opacity: .4;
    
}

.footer-text1{
    font-family: one;
}

.footer-text2{
    font-size: .7rem;
    font-family: three;
}

.footer-text3{
    font-family: three;
    font-size: 1rem;
    color: rgb(122, 121, 121);
    padding: 0px 10px;
}

.footer-icon{
    padding: 10px 10px;
    color: #4ec38f;
    font-size:1rem ;
    text-align: right;
}



    .second-login-div{
        height: 400px;
    }
    
    .login-image{
        height: 100px;
        width: 100px;
        margin-top: 130px;
        margin-left: 95px;
    }
    
    .login-header{
        text-align: justify;
        margin-left: 0px;
    }
    
    .login-text-3{
        margin-top: 40px;
        font-family: one;
        font-size: 1.5rem;
    }
    
    .login-text-3,.login-text-4{
        margin-left: 5px;
    }
    
    .login-login{
        font-family: one;
        font-size: 1.2rem;
        margin-left: 0px;
    }
    
    .first-login-div input[type=text], .first-login-div input[type=password]{
        border: 1px solid #4ece8f !important;
        width: 90%;
        border-radius: 5px;
        margin-left: 0px;
    }
    
    .first-login-div ::placeholder{
        font-size: .9rem;
        padding: 0px 10px !important;
    }
    
    .login-button{
        width: 55%;
        background-color: #4ece8f;
        border-radius: 5px;
        margin-left: 0px;
    }
    
    .mini-text, .mini-text-2{
        font-size: .6rem;
        font-weight: lighter;
        
    }
    
    .login-text-4{
        font-family: two;
        font-size: .9rem;
    }
    
    .login-checkbox{
        margin-left: 0px;
    }
    
    input[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after{
        height: .8rem;
        width: .8rem;
        top: 6px;
    }

    .login-signup{
        font-size: .7rem;
    }
    
    .mini-text-2{
        text-decoration: underline;
        margin-left: 0px;
    }

    .dashboard-image-2{
        height: 120px;
        width: 120px;
        margin-left: 80px !important;
    }
     
}

/*for ipad pro*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .login-image{
        height: 200px;
        width: 200px;
        margin-top: 30px;
        margin-left: 375px;
    }

    .login-text-3{
        margin-top: 40px;
        font-family: one;
        font-size: 2rem;
    }


    .second-div-2{
        background-color: #4ece8f;
        height: 370px;
        width: 470px !important;
        margin-left: 547px !important;
        margin-top: 70px !important;
        border-radius: 10px;
        padding: 20px 100px !important;
    }
}



