$green : #007580;
$orange : #fed049;
$white: #fff;
$grey: #bbbbbb;
$font-weights:(
    'small': 400,
    'med' : 700,
    'lg' : 900
);

nav.bg-light{
        background: $green !important;
        
        a.navbar-brand{
            font-weight: map-get($font-weights , med );
            color: $white;
            line-height: 1;
        }

        ul li a.nav-link{
            color: $white !important;
        }

        a.btn.log{
            border: 1px solid $white;
            color: $white;
            margin: 0 15px;
        }

        a.btn.sign{
            color: $green;
        }
        
    }

.navbar-collapse{
    flex-grow: 0 !important;
} 

#footer{
    background: $white;

    h2{
        font-weight: map-get($font-weights , med );
        color: $green;
    }
    .footer__links, .footer__icons{
        padding: 10px 0 5px;
        text-align: right;
    }
    span, a{
        color: $grey;
    }
    a{
        text-decoration: none;
        padding: 0 10px;
    }
    i{
        padding: 0  10px;
        color: $green;
    }
   
}



