$green : #007580;
$orange : #fed049;
$white: #fff;
$grey: #bbbbbb;
$font-weights:(
    'small': 400,
    'med' : 700,
    'lg' : 900
);

#footer{
    background: $white;

    h2{
        font-weight: map-get($font-weights , med );
        color: $green;
    }
    .footer__links, .footer__icons{
        padding: 10px 0 5px;
        text-align: right;
    }
    span, a{
        color: $grey;
    }
    a{
        text-decoration: none;
        padding: 0 10px;
    }
    i{
        padding: 0  10px;
        color: $green;
    }
   
}



